@*below is for the code behind to work*@
@inherits TeamGameV2.PageLogic.MainGamePageLogic




<div style="color:white;">you are in lobby: @lobbynumber</div>
<div style="color:white;">you player: @playernumber</div>
<div style="color:white;">total players in lobby: @DM.PlayersInLobby</div>
@*<div style="color:white;">the dead are: @dead</div>*@
<div style="color:white;">ingame of p1 @DM.P1ingame</div>
<cant-select-zone @onmousemove="MV.MouseMoved" id="@MyCursorStyle">

    <PlayerCursors DM="DM" MV="MV" MyLobbyNum="lobbynumber" PlayerIAm="playernumber" />

    <game-window>

        <player1window>

            <ActiveGameComponent DM="DM" ingame="DM.P1ingame" lobbynumber="lobbynumber" playernumber="1" var1="DM.P1GameVar1" var2="DM.P1GameVar2" var3="DM.P1GameVar3" var4="DM.P1GameVar4" />

            <PlayerHealthBar myhealth="DM.P1Health" playercolor="blue" />

            <HealthAnimation animationtype="DM.P1HealthChange" />

        </player1window>
        <player2window>

            <ActiveGameComponent DM="DM" ingame="DM.P2ingame" lobbynumber="lobbynumber" playernumber="2" var1="DM.P2GameVar1" var2="DM.P2GameVar2" var3="DM.P2GameVar3" var4="DM.P2GameVar4" />

            <PlayerHealthBar myhealth="DM.P2Health" playercolor="red" />

            <HealthAnimation animationtype="DM.P2HealthChange" />

        </player2window>
        <player3window>

            <ActiveGameComponent DM="DM" ingame="DM.P3ingame" lobbynumber="lobbynumber" playernumber="3" var1="DM.P3GameVar1" var2="DM.P3GameVar2" var3="DM.P3GameVar3" var4="DM.P3GameVar4"/>

            <PlayerHealthBar myhealth="DM.P3Health" playercolor="green" />

            <HealthAnimation animationtype="DM.P3HealthChange" />

        </player3window>
        <player4window>

            <ActiveGameComponent DM="DM" ingame="DM.P4ingame" lobbynumber="lobbynumber" playernumber="4" var1="DM.P4GameVar1" var2="DM.P4GameVar2" var3="DM.P4GameVar3" var4="DM.P4GameVar4"/>

            <PlayerHealthBar myhealth="DM.P4Health" playercolor="yellow" />

            <HealthAnimation animationtype="DM.P4HealthChange" />


        </player4window>

    </game-window>


</cant-select-zone>
<a style="color:white;">@MV.mycursx</a>
<a style="color:white;">@MV.mycursy</a>
<a style="color:white;">@MV.Width</a>
<a style="color:white;">@MV.Height</a>
<div></div>
<button @onclick="args => PlayerGainedHealth(1,1,MV.MyLobby)">add p1 health</button>
<button @onclick="args => PlayerLostHealth(1,-1,MV.MyLobby)">minus p1 health</button>
<button @onclick="args => PlayerGainedHealth(2,1,MV.MyLobby)">add p2 health</button>
<button @onclick="args => PlayerLostHealth(2,-1,MV.MyLobby)">minus p2 health</button>
<button @onclick="args => PlayerGainedHealth(3,1,MV.MyLobby)">add p3 health</button>
<button @onclick="args => PlayerLostHealth(3,-1,MV.MyLobby)">minus p3 health</button>
<button @onclick="args => PlayerGainedHealth(4,1,MV.MyLobby)">add p4 health</button>
<button @onclick="args => PlayerLostHealth(4,-1,MV.MyLobby)">minus p5 health</button>



@code
{

}